@font-face {
  font-family: 'Gotham Pro';
  src: url("./fonts/gothampro.ttf");
}

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'Gothic A1';
  src: url("./fonts/GothicA1-Regular.ttf");
}
